.loginForm{
    width:75%;
}
.control-label span{
    display: inline;
    font-weight: normal;
    margin-left:30px;
}
.table-container {
    border:2px solid #DDD;
    background-color: #EEE;
    /* width:80%; */
}
/* .table-striped>tr:first-child { background-color: #DDD; } */
.table-container h2 { margin:5px; }
.table-container h3 { margin:6px 5px 5px 5px; }
.table-container table{ margin-bottom:0; }
.table-container input{ width: 100%; }
.table-container .title-date { margin:0 0 5px 7px; }
.table-container .subtitle { margin:0px 5px 5px 0px; }
/*.table-container td:first-child{ width: 150px !important; }*/
h2 { font-size:24px;font-weight:bold; }
h3 { font-size:16px;font-weight:bold; }
.th-preview{ width:120px; }
.angular-radio-check{ width:20px !important; }
.block-table{ margin-bottom:25px !important;outline:solid 1px #CCC !important; }
.block-table:last-child { margin-bottom:0; }
.remove-block { margin:5px 10px 5px 5px; }
.add-block { margin-top:-20px; }
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#CameraId .progress { margin-top: 10px;display:none; }
.date{
    float: left;
    height: 52px;
    width: 52px;
    background: url(../img/date.png) no-repeat;
    margin: 8px 0;
    padding-top: 0px;
    line-height: normal;
}
.date .month{
    display: block;
    text-align: center;
    color: #FFF;
    font-size: 11px;
    padding-top: 4px;
    text-transform: uppercase;
}
.date .day{
    display: block;
    text-align: center;
    padding-top: 5px;
    color: #222;
    font-size: 18px;
    font-weight: bold; 
}
.post-list-title h2{ font-size:18px;}
.post-list-title a{ color:#3a9942;text-decoration:none; }
.post-list-title a:hover{ color:#108D00;text-decoration:underline; }
.post-list-title .read-more, .post-list-title .read-more:hover{ color:#FFFFFF; }
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post-details h2{
    font-weight: normal;
    /* color: #3a9942; */
    margin-bottom: 0;
}
.post-details-block{ margin:10px 0; }
.post-details-block a { color:#3a9942; }
.post-details .pull-left{ margin-right: 10px; }
.post-details .pull-right{ margin-left: 10px; }
.breadcrumb a { color:#3a9942; }
.pagination li a, .pagination li a:hover { color:#3a9942; }
.pagination > .active > a, .pagination > .active > a:hover { 
    background-color: #3a9942;
    border-color: #3a9942;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}
.modal-popup{ width:100%; }
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
@media only screen and (max-width: 480px) {
    .list-summary{
        width:100%;
        clear:both;
    }
    .post-list-title .pull-right{
    	float:none !important;
        width:100%;
        text-align:center;
    }
    .post-list-title .thumbnail{
    	margin:0 auto;
    }
    .post-list-title .th-preview {
        width: 100%;
    }
}
.acct-edit{ margin-left:3px; }
.acct-list-edit{ 
    width:70px;
    display:inline-block;
    float:right;
    text-align:right;
}
.acct-list-edit .btn{ margin:0 0 5px 0; }
.acct-list-edit a{ color:#FFF; }
.acct-list-edit a:hover{ color:#FFF;text-decoration:none; }
.post-list-title h2{ margin:0 0  }
.acct-list-edit a{ co8px 0; }
.post-list-title .date{ margin:0; }
.detail-edit{ margin:8px;float:right; }

.expand-img{ width:100%; }
.photobox{ width:95%; }
.login-alert{ padding:12px; }
.menu-instr{ color:#FFF;font-size:7px;}
.new-btn{ width:130px;margin-bottom:8px; }










