<div class="table-container">
    <h2>Accountability Logs</h2>

    <table class="table table-striped">
        <tr>
            <td colspan="2"><h3>Are you sure you want to delete {{acct.a_name}}?</h3></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <button class="btn btn-danger btn-sm" ng-click="delete(acct)"><i class="glyphicon glyphicon-remove-circle" ></i> Yes</button>
                &nbsp;
                <button class="btn btn-default btn-sm" ng-click="cancel()"><i class="glyphicon glyphicon-ban-circle" ></i> No</button>
            </td>
        </tr>
    </table>
</div>

