<h2>Login Page</h2>
<form class="form loginForm" name="loginForm" id="loginform" novalidate ng-submit="login()" >
    <div class="alert alert-danger" ng-show="wrongCredentials">Sorry, you entered your username/password incorrectly.</div>
    <div class="form-group" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty, 'has-success': loginForm.email.$valid && loginForm.email.$dirty}">
        <label for="email" class="control-label">
            Email 
            <span class="help-block" ng-show="loginForm.email.$invalid && loginForm.email.$dirty && !loginForm.email.$focused" >Please enter a valid email address.</span>
        </label>
        <input type="email" name="email" class="form-control" ng-model="user.email" required custom-focus />
        
    </div>
    <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty, 'has-success': loginForm.password.$valid && loginForm.password.$dirty}">
        <label for="password"" ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty, 'has-success': loginForm.email.$valid && loginForm.email.$dirty}">
            Password
            <span class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$dirty && !loginForm.password.$focused" >Please enter a password.</span>
        </label>
        <input type="password" name="password" class="form-control formPassword" ng-model="user.password" required custom-focus />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid" >Login</button>
    </div>
</form>
